.search-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
}

.search-text-style {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.search-text-container {
    margin-right: 1rem;
}

.search-button {
    margin-left: auto;
}


